{% extends "admin/layout.twig" %}

{% block menu %}{% endblock %}

{% block content %}
    <header class="page-header">
        <h1>{{ 'Installation'|trans }}</h1>
    </header>

    <ul class="list-group">
        {% for message in messages %}
            <li class="list-group-item {{ message.type }}">{{message.text|raw}}</li>
        {% endfor %}
    </ul>

    <p>{{ 'Now you can start editing your website in administration here'|trans }}: <a href="/admin">/admin</a></p>
    <ul>
        <li>{{ 'Username'|trans }}: <strong>admin</strong></li>
        <li>{{ 'Password'|trans }}: <strong>foo</strong></li>
    </ul>
    <p>{{ 'Please, remember to change admin\'s password as soon as possible!'|trans }}</p>
{% endblock %}
